body {
    margin-top: 0.1px;
    margin-bottom: 0.1px;
    background: none;
    overflow: hidden;
    height: 768px;
}

.full {

    background: linear-gradient(
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15)
    ),
    url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#myVideo video {
    width: 100%;
    margin: 100px 0 0;
    /*height: 1080px;*/
}